name: Flask API CI with Docker

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-24.04

    steps:
    #   Checkout the repository
    - name: Checkout code
      uses: actions/checkout@v3

    #  Set up Python (optional, for dependencies check)
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"

    #  Install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # Log in to Docker Hub using secrets
    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # Extract the GitHub Actions build number
    - name: Set Build Number
      id: build_number
      run: echo "BUILD_NUMBER=${{ github.run_number }}" >> $GITHUB_ENV

    # Build and push the Docker image
    - name: Build and Push Docker Image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: |
          rajdeepsingh642/flask-cafeapp:latest
          rajdeepsingh642/flask-cafeapp:${{ env.BUILD_NUMBER }}
   
    #  Pull and Run Docker Image
    - name: Run Docker Image Locally
      run: |
        docker pull rajdeepsingh642/flask-cafeapp:${{ env.BUILD_NUMBER }}
        docker run -d -p 8080:8080 rajdeepsingh642/flask-cafeapp:${{ env.BUILD_NUMBER }}
        sleep 10 # Allow some time for the container to start
        curl -f http://localhost:8080 || (echo "Container failed to start" && exit 1)

   
   
  # #  Run Docker Container
  #   - name: Run Docker Container
  #     run: |
  #       docker run -d -p 5000:5000 --name flask-api-test flask-api:latest

  #   #  Test Flask API
  #   - name: Test Flask API
  #     run: |
  #       sleep 5  # Give time for the container to start
  #       curl http://localhost:5000/get-items || exit 1

   
